@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
img,video,iframe{vertical-align: middle; display: inline-block;}
a{text-decoration: none; color: inherit;}
ul,ol{list-style: none;}
:root {
    --maincolor: #025157;
    --mainlight:#3CB9C2;
    --mainlighter: #f2f6f7;
    --border:#d9d9d9;
    --txt:#000;
    --lighttxt:#555;
    --lightertxt:#777;

    --fontsmall:clamp(12px,1vw,14px);
    --fontmid:clamp(14px,1.5vw,16px);

    --fonth1:clamp(44px,5vw,60px);
    --fonth2:clamp(32px,4.5vw,44px);
    --fonth3:clamp(24px,4vw,32px);
    --fonth4:clamp(20px,3.5vw,24px);
    --fonth5:clamp(18px,3vw,20px);
}
h1{font-size: var(--fonth1); line-height:1.4; font-family: 'Pretendard-Regular'; font-weight: 700;}
h2{font-size: var(--fonth2); line-height:1.4; font-family: 'Pretendard-Regular'; font-weight: 700;}
h3{font-size: var(--fonth3); line-height:1.4; font-family: 'Pretendard-Regular'; font-weight: 700;}
h4{font-size: var(--fonth4); line-height:1.4; font-family: 'Pretendard-Regular'; font-weight: 700;}
h5{font-size: var(--fonth5); line-height:1.4; font-family: 'Pretendard-Regular'; font-weight: 700;}
p,span,a,li,td,label,button{font-size:var(--fontmid); line-height:1.4; font-family: 'Pretendard-Regular';}

input {border:1px solid var(--border); border-radius:5px; outline: none; padding: 10px; height: 50px; width: 100%;}
input:focus {outline:none;}
button {all: unset; text-align: center; border-radius: 5px; cursor: pointer; display: inline-block; width: 100%; height:50px;}

.in{width: 1400px; margin: 0 auto;}



/* 관리자로그인페이지 */
#adminlogin_wrap .in{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#adminlogin_wrap .form-area{
    width: 572px;
}
#adminlogin_wrap .form-area .tit-area{
    text-align: center;
    margin-bottom: 40px;
}
#adminlogin_wrap .form-area .tit-area h1{
    margin-bottom: 20px;
}
#adminlogin_wrap .form-area .tit-area h1 img{
    height: 80px;
    object-fit: contain;
}
#adminlogin_wrap .form-area .login-area{
    margin-bottom: 40px;
}
#adminlogin_wrap .form-area .login-area .login-id{
    margin-bottom: 30px;
}
#adminlogin_wrap .form-area .login-area .login-pw{
    margin-bottom: 40px;
}
#adminlogin_wrap .form-area .login-area .login-pw .input-group{
    position: relative;
}
#adminlogin_wrap .form-area .login-area .login-pw .input-group img{
    position: absolute;
    top: 50%; right: 10px;
    transform: translateY(-40%);
    width: 20px; object-fit: contain;
    cursor: pointer;
}
#adminlogin_wrap .form-area .login-area .login-btn{
    background: var(--maincolor);
    color: #fff;
    font-weight: 700;
}
#adminlogin_wrap .form-area .info-area{
    color: var(--lightertxt);
    text-align: center;
}
#adminlogin_wrap .form-area .info-area .tel img{
    width: 20px;
    transform: translateY(-10%);
}
/* 관리자로그인페이지End */

/* 관리자키오스크기기선택페이지 */
#adminoption_wrap .in{
    width: 820px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#adminoption_wrap .tit-area{
    text-align: center;
    margin-bottom: 40px;
}
#adminoption_wrap .tit-area h1{
    margin-bottom: 20px;
}
#adminoption_wrap .tit-area h1 img{
    height: 80px;
    object-fit: contain;
}
#adminoption_wrap .tit-area h5 span{
    font-size: inherit;
}
#adminoption_wrap .opt-label{
    width: 100%;
    /* padding-bottom: 10px; */
    background: #fff;
}
#adminoption_wrap .opt-label ul{
    display: flex;
    justify-content: space-between;
    color: var(--lightertxt);
    padding: 0px 25px;
}
#adminoption_wrap .opt-label ul .opt1{
    width: 95px;
}
#adminoption_wrap .opt-label ul .opt2{
    width: 305px;
}
#adminoption_wrap .opt-label ul .opt3{
    width: 355px;
}
#adminoption_wrap .opt-area{
    width: 100%;
    height: 470px;
    position: relative;
}
#adminoption_wrap .opt-area .top-effect{
    position: absolute;
    top: 0;left: 0;
    width: calc(100% - 15px); height: 100px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 90%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
}
#adminoption_wrap .opt-area .top-effect.show{
    display: flex;
}
#adminoption_wrap .opt-area .bottom-effect{
    position: absolute;
    bottom: 0;left: 0;
    width: calc(100% - 15px); height: 100px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 90%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#adminoption_wrap .opt-area .bottom-effect.hide{
    display: none;
}
#adminoption_wrap .opt-area .bottom-effect img{
    height: 25px;
    object-fit: contain;
}
#adminoption_wrap .opt-area .opt-box{
    width: 100%;
    height: 470px;
    overflow-y: auto;
    padding-right: 10px;
    padding-top: 10px;
}
#adminoption_wrap .opt-area .opt-box::-webkit-scrollbar-button:vertical {
    background-color: #fff;
}
#adminoption_wrap .opt-area .opt-box::-webkit-scrollbar-track {
    background-color: #fff;
}
#adminoption_wrap .opt-area .opt-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#adminoption_wrap .opt-area .opt-box::-webkit-scrollbar {
    width: 5px;
}
#adminoption_wrap .opt-area .opt-box .opt{
    border: 1px solid var(--border);
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
#adminoption_wrap .opt-area .opt-box .opt:last-child{
    margin-bottom: 100px;
}
#adminoption_wrap .opt-area .opt-box .opt ul{
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
}
#adminoption_wrap .opt-area .opt-box .opt ul li{
    font-weight: 700;
    font-size: var(--fonth5);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#adminoption_wrap .opt-area .opt-box .opt ul .opt1{
    width: 90px;
}
#adminoption_wrap .opt-area .opt-box .opt ul .opt2{
    width: 300px;
}
#adminoption_wrap .opt-area .opt-box .opt ul .opt3{
    width: 340px;
}


