@charset "utf-8";

/* 사용자회원가입페이지 */
#userjoin_wrap>.in{
    position: relative;
}
#userjoin_wrap .back-arrow{
    position: absolute;
    left: -20px; top: 0;
    transform: translateX(-100%);
}
#userjoin_wrap .back-arrow img{
    height: 40px;
    object-fit: contain;
}
#userjoin_wrap .tit-area{
    margin-bottom: 60px;
}
#userjoin_wrap .join-area{
    width: 875px;
}
#userjoin_wrap .form-area{
    width: 100%;
}
#userjoin_wrap .form-area .input-group .input-text{
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 0;
    width: 100%;
}
#userjoin_wrap .form-area .btn-submit{
    width: 100px;
    height: 70px;
    background: #b4c6c8;
    font-size: var(--fonth4);
    color: #fff;
    font-weight: 700;
}
#userjoin_wrap .form-area .btn-submit.active{
    background: var(--maincolor);
}
#userjoin_wrap .form-area .btn-next{
    width: 100px;
    height: 70px;
    background: #ececec;
    border-radius: 5px;
    text-align: center;
    line-height: 70px;
    font-size: var(--fonth4);
    font-weight: 700;
}
#userjoin_wrap .input-group input::placeholder{
    color: #999;
}
#userjoin_wrap .form-area .join-parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
}
#userjoin_wrap .join-parent>h4{
    width: 100px;
}
#userjoin_wrap .join-parent>div{
    position: relative;
    margin-right: 30px;
}
#userjoin_wrap .join-parent>div>p{
    position: absolute;
    top: calc(100% + 5px); 
    color: #777;
}
#userjoin_wrap .join-parent .input-group{
    position: relative;
    width: 530px;
}
#userjoin_wrap .join-parent .input-group input{
    height: 80px;
    font-size: var(--fonth3);
}
#userjoin_wrap .join-parent .input-group img{
    position: absolute;
    right: 10px; top: 50%;
    transform: translateY(-50%);
    height: 24px;
    object-fit: contain;
}
#userjoin_wrap .form-area .join-pw{
    width: 635px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
}
#userjoin_wrap .join-pw>h4{
    width: 100px;
}
#userjoin_wrap .join-pw>div{
    position: relative;
    margin-right: 30px;
}
#userjoin_wrap .join-pw>div>p{
    position: absolute;
    top: calc(100% + 5px); 
    color: #777;
}
#userjoin_wrap .join-pw .input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 80px;
}
#userjoin_wrap .join-pw .input-group>input{
    width: 80px;
    height: 100%;
    border: 1px solid var(--border);
    border-radius: 5px;
    text-align: center;
}
#userjoin_wrap .form-area .join-tel{
    width: 765px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#userjoin_wrap .join-tel>h4{
    width: 100px;
}
#userjoin_wrap .join-tel .input-group{
    width: 530px;
    position: relative;
    margin-right: 30px;
}
#userjoin_wrap .join-tel .input-group input{
    height: 80px;
    font-size: var(--fonth3);
}
#userjoin_wrap .join-tel .input-group img{
    position: absolute;
    right: 10px; top: 50%;
    transform: translateY(-50%);
    height: 24px;
    object-fit: contain;
}
#userjoin_wrap .form-area .join-birth{
    width: 765px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#userjoin_wrap .join-birth>h4{
    width: 100px;
}
#userjoin_wrap .join-birth .input-group{
    width: 530px;
    position: relative;
    margin-right: 30px;
}
#userjoin_wrap .join-birth .input-group input{
    height: 80px;
    font-size: var(--fonth3);
}
#userjoin_wrap .join-birth .input-group img{
    position: absolute;
    right: 10px; top: 50%;
    transform: translateY(-50%);
    height: 24px;
    object-fit: contain;
}
#userjoin_wrap .form-area .join-name{
    width: 765px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
#userjoin_wrap .join-name>h4{
    width: 100px;
}
#userjoin_wrap .join-name .input-group{
    width: 530px;
    position: relative;
    margin-right: 30px;
}
#userjoin_wrap .join-name .input-group input{
    height: 80px;
    font-size: var(--fonth3);
}
#userjoin_wrap .join-name .input-group img{
    position: absolute;
    right: 10px; top: 50%;
    transform: translateY(-50%);
    height: 24px;
    object-fit: contain;
}








